<nav>
  <ul>
    <li>
      <a target="_blank" href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x2fa84B17016D5C603500920BA6d7D86d9AB1180E">
      Buy
      </a>
    </li>
    <li>
      <a target="_blank" href="https://poocoin.app/tokens/0x2fa84b17016d5c603500920ba6d7d86d9ab1180e">
      Chart
      </a>
    </li>
    <li>
      <a target="_blank" href="<%= asset_path('ANIMEBNB_whitepaper.pdf')%>">
      Whitepaper
      </a>
    </li>
    <li>
      <a href="https://bscscan.com/token/0x2fa84B17016D5C603500920BA6d7D86d9AB1180E
#balances" target="_blank">
      Contract
      </a>
    </li>
    <li>
      <div id="view_mode" href="#">
          <div class="on-off">
            <div class="back2"></div>
            <div class="back"></div>
            <div class="front"></div>
        </div>
      </div>
    </li>
    </ul>
  </nav>
<div class="header_social_bar">
  <h2 class="h1">Stay Connected</h2>
  <div class="social_icons">
    <%= link_to "https://t.me/animebnb", title: 'English Telegram', 'data-toggle' => 'tooltip', class: "social_link", target: '_blank' do %>
    <%= show_svg('telegram') %>
    <%= show_svg('flag_uk', class: 'flag') %>
    <% end %>

    <%= link_to "https://t.me/animebnbasia", title: '中文 Telegram', 'data-toggle' => 'tooltip', class: "social_link", target: '_blank' do %>
    <%= show_svg('telegram') %>
    <%= show_svg('flag_cn', class: 'flag') %>
    <% end %>

    <%= link_to "https://twitter.com/anime_bnb", class: "social_link", target: '_blank' do %>
    <%= show_svg('twitter') %>
    <% end %>
    <%= link_to "https://discord.gg/X5v9QFbSvx", class: "social_link", target: '_blank' do %>
    <%= show_svg('discord') %>
    <% end %>
    <%= link_to "https://www.reddit.com/r/AnimeBNB", class: "social_link", target: '_blank' do %>
    <%= show_svg('reddit') %>
    <% end %>
  </div>
</div>
