<div class="header_social_bar">
  <%= link_to "https://t.co/xvtvqC7CqZ", class: "social_link", target: '_blank' do %>
  <%= show_svg('telegram.svg') %>
  <% end %>
  <%= link_to "https://twitter.com/anime_bnb", class: "social_link", target: '_blank' do %>
  <%= show_svg('twitter.svg') %>
  <% end %>
  <%= link_to "https://discord.gg/X5v9QFbSvx", class: "social_link", target: '_blank' do %>
  <%= show_svg('discord.svg') %>
  <% end %>
  <%= link_to "https://www.reddit.com/r/AnimeBNB", class: "social_link", target: '_blank' do %>
  <%= show_svg('reddit.svg') %>
  <% end %>
</div>
