<section id="team">
  <h2>Meet the team</h2>
  <hr />
  <div class="team-container">
    <div class="card">
      <%= image_tag("team_01.png", class: "profile")%>
      <h3>Jarvis T.</h3>
      <ul>
        <li>
          Founder
        </li>
        <li>
          BlockChain Project Manager
        </li>
      </ul>
    </div>

    <div class="card">
      <%= image_tag("team_02.png", class: "profile")%>
      <h3>Jeremy D.</h3>
      <ul>
        <li>
          Founder
        </li>
        <li>
          BlockChain Project Manager
        </li>
      </ul>
    </div>

    <div class="card">
    <%= image_tag("team_03.png", class: "profile")%>
      <h3>Dustin H.</h3>
      <ul>
        <li>
          Founder
        </li>
        <li>
          BlockChain Project Manager
        </li>
      </ul>
    </div>

    <div class="card">
      <%= image_tag("team_04.jpg", class: "profile")%>
      <h3>Craig H.</h3>
      <ul>
        <li>
          Blockchain Development
        </li>
        <li>
          Software Engineer
        </li>
      </ul>
    </div>
    <div class="card">
      <%= image_tag("team_05.png", class: "profile")%>
      <h3>Ashley C.</h3>
      <ul>
        <li>
          Graphic Designer
        </li>
      </ul>
    </div>

    <div class="card">
      <%= image_tag("team_06.png", class: "profile")%>
      <h3>Alex V.</h3>
      <ul>
        <li>
          Blockchain Project Manager
        </li>
      </ul>
    </div>

  </div>
</section>
