<%= render 'header' %>

<div class="wrapper">
  <div class="banner">

    <div class="popup">

<%= image_tag("logo_august.png", class: "logo_main")%>

      <h1 class="h1">Hold  <span class="highlight">$ANB</span>EARN BNB</h1>
      <p>
        AnimeBNB <span class="highlight">$ANB</span> is the world's first auto-reward cryptocurrency.
      </p>
      <p>
         Our team is dedicated to giving the community a unique rewards system with exclusive payouts through a gaming platform, so you can play and earn $BNB and <span class="highlight">$ANB</span>!
    </p>
      <p>
         Fair Launch August 12th!
      </p>
      <p>
        Join our telegram to earn exclusive giveaways.
        </p>
    </div>

    <div class="banner_flair">
      <%= image_tag("angel.png", class: "banner_flair")%>
    </div>

  </div>

<%#= render 'roadmap' %>
<%= render 'anime-gallery' %>
<%#= render 'tokenomics' %>


  <% if user_signed_in? %>
  <div class="profile_widget">
    <a id="myLink" title="Click to do something"  onclick="myFunction()">
      <%= image_tag("profile_photo.png", class: "avatar")%>
    </a>

    <div id="profile_menu" class="profile_menu hidden">
      <ul>
        <li class="list_header">
          <%= @user.first_name %>
          <span class="wallet">45¥</span>
        </li>
        <li>
          Edit Profile
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </div>

  </div>
  <% end %>

  </div>
  <script>
    function myFunction() {
      var menu_element =  document.getElementById("profile_menu");
      menu_element.classList.toggle('hidden');
    }
  </script>
