<%= render 'header' %>

<div class="wrapper">
  <div class="banner">

    <div class="popup">
      <% if current_user %>
      <h1 class="h1"><span class="highlight">$ANIMEBNB</span><br/>Hold $ANB </br/> EARN BNB.</h1>
      <h2 class="h2 center">Thanks for signing up!<br /> Stay tuned for updates!</h2>
      <img src="https://pa1.narvii.com/7676/717445cd850127611f2ee15491fd9711df870c2er1-520-293_hq.gif" />
      <br  />
      <%= link_to "https://dxsale.app/app/v2_9/defipresale?saleID=2030&chain=BSC", class: "login_link button", method: :post do %>
      Join the presale
      <% end %>
      <% else %>
      <h1 class="h1"><span class="highlight">$ANIMEBNB</span><br/>Hold $ANB </br/> EARN BNB.</h1>
      <p>
        AnimeBNB  <span class="highlight">$ANB</span> is the  world's first Auto reward BNB cryptocurrency token.
      </p>
      <p>
         At Anime BNB we are dedicated to giving the community a unique rewards system with exclusive payouts through a gaming platform so you can play and earn $BNB and <span class="highlight">$ANB</span>.
    </p>
      <p>
         Presale Started. Join telegram for BNB giveaways
      </p>
      <%= link_to "https://dxsale.app/app/v2_9/defipresale?saleID=2030&chain=BSC", class: "login_link button", method: :post do %>
      Join the presale
      <% end %>
      <% end %>
    </div>

    <div class="banner_flair">
      <%= image_tag("angel.png", class: "banner_flair")%>
    </div>

  </div>


  <% if user_signed_in? %>
  <div class="profile_widget">
    <a id="myLink" title="Click to do something"  onclick="myFunction()">
      <%= image_tag("profile_photo.png", class: "avatar")%>
    </a>

    <div id="profile_menu" class="profile_menu hidden">
      <ul>
        <li class="list_header">
          <%= @user.first_name %>
          <span class="wallet">45¥</span>
        </li>
        <li>
          Edit Profile
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </div>

  </div>
  <% end %>
  </div>
  <script>
    function myFunction() {
      var menu_element =  document.getElementById("profile_menu");
      menu_element.classList.toggle('hidden');
    }
  </script>
