<!DOCTYPE html>
<html>
<head>
  <title>ANIMEBNB TOKEN - 10% BNB Redistribution</title>
  <%= favicon_link_tag asset_path('favicon.png') %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<meta src="<%= asset_path('logo_ring.png')%>" property="og:logo"/>
  <meta content="The original and official ANIME $ANB Token with 10% BNB Redistribution" name="description"/>
  <meta content="AnimeBNB Token - 10% BNB Redistribution - Auto Claim BNB by just holding!" property="og:title"/>
  <meta content="AnimeBNB Token - 10% BNB Redistribution - Auto Claim BNB by just holding!" property="twitter:title"/>


<% if admin_page? %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
<% else %>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@100;400;700&family=Montserrat&display=swap" rel="stylesheet">
<% end %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'profile_menu', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="body <% if admin_page? %>admin<%end%>">
  <% if notice || alert %>
  <div id="alert_container" class="alerts">
    <% if notice %><p class="notice"><%= notice %></p><%end%>
    <% if alert %><p class="alert"><%= alert %></p><%end%>
  </div>
  <% end %>
  <%= yield %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VKD5BFPWBZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VKD5BFPWBZ');
  </script>
</body>
</html>
